#home-link {
    color: var(--light_blue);
}

#home-link img {
    visibility: visible;
}

/*typewriter effect*/

.animate {
    overflow: hidden;
    animation: typing 3s steps(21, end), blink .75s step-end infinite;
    animation-delay: 1.5s; /*gives a little bit of time for the page to load so animation isn't cut off*/
    animation-fill-mode: both; /*makes text invisible before animation starts*/
    white-space: nowrap;
    border-right: 2px solid var(--dark_blue);
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: var(--dark_blue); 
    }
}

/*-----------------*/

.description {
    width: 500px;
    padding: 30px;
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 1.1rem;
    background: var(--light_grey);
}

.description a {
    color: var(--dark_blue);
    /* text-decoration: underline; */
}

.description a:hover {
    color: var(--light_blue);
}

#me {
    display: block; /*gets rid of space below image*/
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}